<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueci a Senha</title>

  {% include '_lib.html' %}
</head>
<body class="bg-dark">


  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-6 col-md-9 col-12 my-5">

        <div class="card card-login mt-5">
          <div class="card-header">Esqueci a Senha</div>
          <div class="card-body">
            <div class="text-center mb-4">
              <h4>Esqueceu sua senha?</h4>
              <p>Digite seu endereço de e-mail e nós lhe enviaremos instruções sobre como redefinir sua senha.</p>
            </div>
            <form method="post">
              <div class="form-group">
                <label for="E-mail">E-mail</label>
                <input type="email" class="form-control" name="email" placeholder="Digite seu e-mail" required>
              </div>

              <button type="submit" class="btn btn-primary btn-block" name="send"><i class="fas fa-paper-plane"></i> Enviar</button>

              <div class="text-center mt-3">
                <a href="{{PAG_LOGIN}}" class="d-block small">Voltar</a>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>



  <script type="text/javascript" src="{{SRC}}/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{SRC}}/bootstrap-4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
