<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página não encontrada</title>

  {% include '_lib.html' %}
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h1>404 - Página não encontrada!</h1>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{SRC}}/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{SRC}}/bootstrap-4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
